<section>	
	<header>
		<a href="{{link.link}}" ng-repeat="link in headLinks">{{ link.name }}</a>
	</header>
	
	<div id="about">
		<div class="section-ctn">
			<div class="intro-img">
				<img src="assets/Diary_Icon.png">
			</div>

			<div class="about-msg">
				<h1>Hello!</h1>
				Lorem ipsum dolor sit amet, audiam probatus per an, vim sonet deleniti sadipscing ei. Mandamus intellegam usu id, eos in solum electram. Has vitae delenit ei. Saperet evertitur consequat ut vel, cu duis prompta praesent duo. Pri inani veniam consectetuer at, simul perfecto euripidis duo an. Et reque vocent est, ius sonet nostrud ad, an postea semper mea.
			</div>

		</div>
	</div>
	
	<div id="submit">
		<div class="section-ctn">
		</div>
	</div>
	
	<div id="vote">
		<div class="section-ctn">
		</div>
	</div>

</section>